[submodule "inc/VulkanMemoryAllocator"]
	path = inc/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "inc/imgui"]
	path = inc/imgui
	url = https://github.com/ocornut/imgui
[submodule "inc/Nuklear"]
	path = inc/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear
